---
---

// Import defined theme
@import "{{ site.theme }}";

// Hides useless download button
#downloads {
    display: none !important;
}

// Design patch for gists as posts
.gist,
.gist .gist-meta {
    color: #eaeaea !important;
}
.gist .gist-file {
    // border: 1px solid #63c0f5 !important;
    // border: 1px solid #b5e853 !important;
    border: none !important;
}
.gist .gist-data,
.gist .gist-meta,
.gist .highlight {
    background: #151515 url("../images/bkg.png") 0 0 !important;
}
.gist .markdown-body .highlight pre,
.gist .markdown-body pre {
    background-color: #151515 !important;
}
/* .gist .gist-meta a {
    color: #63c0f5 !important;
} */
.gist .gist-meta {
    display: none !important;
}
.gist .markdown-body h1 {
    display: none !important;
}
